* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 90rem;
  margin: 0 auto;
  background-color: #c9dadc95;
  color: #1f1f1f;
}

.section--heading {
  height: 9rem;
}

.header {
  display: flex;
  margin: 0 auto;
  background-color: #c9dadc;
}

.nav--container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.header--logo {
  padding: 0.75em;
  margin-right: auto;
  width: 15.5rem;
  cursor: pointer;
}

.nav--container ul {
  display: flex;
  letter-spacing: 1px;
  list-style: none;
  gap: 2.875rem;
  font-size: 1.25em;
  font-weight: 800;
  align-items: center;
  padding-right: 2em;
}

a {
  text-decoration: none;
  color: #151d3b;
  cursor: pointer;
}

a:hover {
  color: #982118;
}

.nav--container ul a:visited {
  text-decoration: none;
}

.nav--container li {
  position: relative;
  cursor: pointer;
}

.contact {
  background-color: #982118;
  padding: 0.5em 2.5em;
  color: white;
  border-radius: 10px;
}

.nav--selected::after {
  content: "";
  position: absolute;
  top: 2rem;
  height: 8px;
  width: 100%;
  background: #982118;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/* HERO SECTION */

.hero--section {
  display: flex;
  background-image: url("/public/Images/Hero.png");
  /* max-width: 100%; */
  background-color: #c9dadc;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 35rem;
  position: relative;
}

.hero--text {
  position: absolute;
  width: 40rem;
  top: 4.7rem;
  left: 6.25rem;
}

.hero--title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.hero--type {
  color: #982118;
  position: relative;
  font-size: 2.5rem;
}

.hero--content {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.hero--book {
  font-size: 1.5rem;
  margin-top: 2rem;
  display: inline-block;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  line-height: 1;
  background-color: #0e3b43;
  padding: 1rem 3.5rem;
  border-radius: 10px;
}

.hero--book:hover {
  color: #0e3b43;
  background-color: transparent;
  border-color: #0e3b43;
}

/* SERVICE SECTION */

.service--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7c7cc;
  padding: 1rem 0;
  background-image: url("/public/Images/paw--big.png");
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.service--container,
.testimonial--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

.service--card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  padding: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 1.25rem;
  border: 8px solid #f1f1f1;
  background-color: #c9dadc99;
  transition: all 0.4s;
}

.service--card:hover {
  transform: translateY(-1.1rem);
  background-color: #fdfeffa2;
}

.service--icon {
  align-self: center;
}

.service--title {
  font-size: 1.75rem;
  color: #982118;
  font-weight: 800;
  text-align: center;
  padding-top: 1rem;
}

.service--description {
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 1rem;
  text-align: center;
}

/* TESTIMONIAL SECTION */

.testimonial--box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #c9dadc;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.Testimonial--card {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #fffefd;
  padding: 2.5rem;
  position: relative;
  border-radius: 1.25rem;
  border: 8px solid #f1f1f1;
}

.testimonial--img {
  width: 6.25rem;
}

.testimonial--name {
  font-weight: 600;
  font-size: 1.25rem;
}

.testimonial--star {
  width: 80%;
  padding-top: 0.5rem;
}

.testimonial--location {
  color: #acaaaa;
  font-size: 0.85rem;
}

.testimonial-contact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.testimonial--google {
  align-self: flex-end;
  position: absolute;
  top: 85%;
  left: 85%;
  width: 40px;
}

.testimonial--text {
  padding-top: 1rem;
  font-size: 1em;
  line-height: 1.5rem;
  font-weight: 400;
}

.testimonial--heart {
  align-self: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  width: 7rem;
}

/* TEAM SECTION */

.team--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7c7cc;
  padding-top: 3rem;
}

.team--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #a7c7cc;
}

.team--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 1.5rem;
  border: 8px solid #f1f1f1;
  background-color: #fffefd;
  border-radius: 20px;
}

.team--img {
  width: 21.75rem;
  height: 21.75rem;
  object-fit: cover;
  border: none;

  border-radius: 10px;
}

.team--dr--name {
  padding-top: 1rem;
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: 1.5;
  color: #0e3b43;
}

.team--dr-title {
  font-size: 0.95rem;
  font-weight: 400;
  width: 80%;
  text-align: center;
}

/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #c9dadc;
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;

  transform: rotate(30deg);
  background-image: url();
  background: url("/public/Images/paw--big.png") 0 0 no-repeat;
  /* background-position: center; */
  background-size: 100px auto;
  width: 20%;
  height: 20%;
  top: 15%;
  right: 0;
}

.contact-box {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 1rem 0;
}

.contact--home {
  padding: 1rem 2.5rem;
  background-color: #a7c7cc;
  height: 25rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contact--form {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 45%;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.input--container {
  display: flex;
  align-items: center;
  text-align: left;
}

.input--box {
  height: 2rem;
  width: 20rem;
  padding-left: 10px;
  border: 0;
  /* margin-left: 1rem; */
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  outline: none;
  font-size: 1rem;
}

input:focus {
  background-color: lightyellow;
}

textarea {
  width: 100%;
  font-size: 1rem;
  height: 5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

#btn--submit {
  width: 90%;
  background-color: #0e3b43;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  justify-self: center;
  border: none;
}

textarea:focus {
  background-color: lightyellow;
}

.thankyou {
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: #982118;
  padding-top: 1rem;
  max-width: 20rem;
  align-self: center;
  top: 24.5rem;
  left: 4.5rem;
}

.contact--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 2rem;
}

.contact--map {
  max-width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* FOOTER SECTION 123*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a7c7cc;
  font-weight: 400;
  padding-bottom: 1.5rem;
  padding-top: 2em;
}

footer ul {
  font-size: 1rem;
}

.footer--hours--title,
.footer--location--title,
.footer--menu--title,
.footer--contact--title {
  color: #982118;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: #c9dadc;
  text-decoration-thickness: 4px;
}

.footer--hours--schedule {
  display: flex;
  gap: 2em;
}

.footer--hours--times ul,
.footer--hours--days ul,
.nav--footer ul,
.footer--contact ul {
  list-style: none;
}

.footer--contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer--logo {
  width: 10rem;
  padding-top: 1.25rem;
}

.footer--social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 1rem;
}

.socail-icon {
  width: 2rem;
}

/* PET REGISTRATION SECTION */

.add--info--section,
.contact--info--section,
.past--vet--section,
.pet--info--section {
  width: 80%;
  margin: 0 auto;
  background-color: #a7c7cc;
  border: 8px solid #f1f1f1;
}

.two--cols {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.three--cols {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 10px;
  justify-items: center;
}

.add--info,
.contact--info,
.past--vet,
.pet--info {
  padding: 2rem 4rem;
}

.section---heading {
  font-weight: 800 !important;
  font-size: 2rem;
  color: #982118;
  padding-bottom: 1rem;
  /* padding: 0; */
}

.first-word {
  color: #982118;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.question,
.past--vet p {
  padding: 0.5rem 0;
  font-weight: bold;
  /* font-weight: 600; */
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

input[type="file"]::file-selector-button {
  border: 2px solid #c9dadc;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #eee;
  transition: 1s;
  font-weight: 600;
  width: 50%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  /* color: #fff; */
}

input[type="option"]::file-selector-button {
  border: 2px solid #c9dadc;
  padding: 0.2em 0.75em;
  border-radius: 0.2em;
  margin-right: 1rem;
  background-color: #eee;
  transition: 1s;
  font-weight: 600;
  width: 50%;
}

#dropDown {
  height: 2rem;
  width: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.three--cols label,
.pet--info--section label,
.contact--home label {
  display: inline-block;
  font-weight: 600;
  color: #0e3b43;
  width: 95px;
  text-align: left;
}

.left {
  padding-left: 25px;
}

#address {
  width: 45.85rem;
}

.past--vet {
  display: flex;
  flex-direction: column;
}

.pet-name,
.pet-species,
.pet-weight,
.pet-species,
.pet-spay {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 1rem; */
}

.pet--info,
.contact--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Register--btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.center {
  text-align: center;
  color: #982118;
  font-size: 1rem;
  font-weight: 600;
}

.Register-pet {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem;
  background-color: #c9dadc;
}

.add--new {
  padding: 1rem 10rem;
  background-color: #0e3b43;
  font-weight: 800;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
}
.add--submit {
  padding: 1rem 10rem;
  background-color: #982118;
  font-weight: 800;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
}
