* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 1500px;
  margin: 0 auto;
  background-color: #ddd;
  color: #1f1f1f;
}

.section--heading {
  width: 400px;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  margin: 0 auto;
  background-color: #c9dadc;
}

.nav--container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.header--logo {
  padding: 0.75em;
  margin-right: auto;
  width: 15.5rem;
}

.nav--container ul {
  display: flex;
  letter-spacing: 1px;
  list-style: none;
  gap: 2.875rem;
  font-size: 1.25em;
  line-height: 36px;
  font-weight: 800;
  align-items: center;
  padding-right: 2em;
}

.contact {
  background-color: #982118;
  padding: 0.5em 2.5em;
  color: white;
  border-radius: 10px;
}

/* HERO SECTION */

.hero--section {
  display: flex;
  background-image: url("/public/Images/Hero.png");
  background-color: #c9dadc;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 560px;
  position: relative;
}

.hero--text {
  position: absolute;
  width: 40rem;
  top: 75px;
  left: 100px;
}

.hero--title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.hero--type {
  color: #982118;
  position: relative;
  font-size: 2.5rem;
}

.hero--content {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  /* line-height: 1.5; */
}

/* .text--secondary::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  height: 8px;
  width: 5rem;
  background: #151d3b;
  left: 3rem;
  transform: translateX(-50%);
  border-radius: 5px;
} */

.hero--book {
  margin-top: 3.5rem;
  display: inline-block;
  background-color: #151d3b;
  padding: 1rem 3.5rem;
  color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 800;
}

/* .text--dynamic {
  position: relative;
} */

/* .text--dynamic::after {
  content: "";
  position: absolute;
  margin-left: 5px;
  width: 2px;
  height: 100%;
  animation: blink 300ms ease infinite;
} */

/* SERVICE SECTION */

.service--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7c7cc;
  padding: 1rem 0;
}

.service--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service--card {
  display: flex;
  flex-direction: column;
  width: 25.75rem;
  height: 31.25rem;
  padding: 40px;
  margin-bottom: 3rem;
  border-radius: 20px;
  border: 8px solid #f1f1f1;
  background-color: #fff;
}

.service--icon {
  align-self: center;
}

.service--title {
  font-size: 1.5rem;
  color: #982118;
  font-weight: 800;
  text-align: center;
  padding-top: 1rem;
}

.service--description {
  font-size: 1.15rem;
  font-weight: 400;
  padding-top: 1rem;
  text-align: center;
}

/* TEAM SECTION */

.team--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7c7cc;
}

.team--container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  background-color: #a7c7cc;
  padding: 1.5rem 0;
}

.team--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  border: 8px solid #f1f1f1;
  background-color: #fff;
  /* border-radius: 20px; */
}

.team--img {
  width: 350px;
  height: 350px;
  object-fit: cover;

  z-index: 2;
}

.team--dr--name {
  padding-top: 1rem;
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: 1.5;
}

.team--dr-title {
  font-size: 1.1rem;
  font-weight: 400;
  width: 40%;
  text-align: center;
}

/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a7c7cc;
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
  padding-top: 2em;
}

.footer--hours--title,
.footer--location--title,
.footer--menu--title,
.footer--contact--title {
  color: #982118;
  font-weight: 900;
  font-size: 1.35rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: #151d3b;
  text-decoration-thickness: 3px;
}

.footer--hours--schedule {
  display: flex;
  gap: 2em;
}

.footer--hours--times ul,
.footer--hours--days ul,
.nav--footer ul,
.footer--contact ul {
  list-style: none;
}

.footer--contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer--logo {
  width: 10rem;
  padding-top: 1.25rem;
}

.footer--social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
}

.socail-icon {
  width: 30px;
}
